
@{
    ViewBag.Title = "Список пользователей";
    Layout = "_Layout";
}

<a asp-action="Create">Добавить пользователя</a>

<table class="table">
    <tr><th>Email</th><th></th></tr>
    @model IEnumerable<EvaWeb.ViewModels.NavibarLink>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.id</td>
           
        </tr>
    }
</table>


