
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService



<ul>
       @await Component.InvokeAsync("LoginBar")
       @await Component.InvokeAsync("NavigationBar")

        @if ((await AuthorizationService.AuthorizeAsync(User, "Administrator")).Succeeded)

        {
            <li>
                <button class="collapsible nav-link">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    Администрирование
                </button>
                <div class="content nav-link">
                    <a href="/identity/users/index" class="nav-link text-white">
                        <svg class="bi me-2" width="16" height="16"> <use xlink:href="#table"> </use> </svg>
                        Пользователи
                    </a>
                </div>
            </li>
        }

</ul>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("actived");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>